@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,500;10..48,600;10..48,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-primary font-open-sans text-lg font-medium;
    }

    h1 {
        @apply text-violet-dark font-bricolage-grotesque text-[4rem] leading-[1.2] -tracking-[2.56px] font-bold;
    }

    h2 {
        @apply text-violet-dark font-bricolage-grotesque text-5xl -tracking-[1.92px] font-bold;
    }

    h3 {
        @apply text-violet-dark text-xl -tracking-[0.4px] font-bold;
    }

    button {
        @apply whitespace-nowrap select-none
    }
}

@layer components {
    .section-small-title {
        @apply text-violet text-sm uppercase font-bold;
    }

    .nav-link,
    .nav-link-active {
        @apply relative overflow-hidden py-3 px-4 laptop:px-6 active:shadow-[#6523d71a_0px_-50px_36px_-28px_inset] rounded-[10px];
    }
}

/* nav-link animation on hover */
.nav-link::after,
.nav-link-active::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 3px solid #583fbc;
    border-radius: 12px;
}

.nav-link::after {
    transform: translateY(-120%);
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.nav-link:hover::after {
    transform: translateX(0);
}

/* violet btn animation on hover */
.violet-btn-anim {
    position: relative;
}

.violet-btn-anim::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 3px solid #583fbc;
    transform: scaleX(0);
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.violet-btn-anim:hover::after {
    transform: scaleX(1);
}

/* for form select element */
.form-select {
    background-image: url("./assets//images//HomePage//violet-down-arrow.svg");
    background-size: 0.7rem;
    background-position: right 0.7rem center;
}

/* for linear-background transition on FaqAccordion component */
.linear-transition {
    @apply relative z-[2];
}

.linear-transition::before {
    @apply content-[""] absolute inset-0 bg-gradient-to-b from-[#dbeffa] z-[1] opacity-0 transition-opacity duration-300 ease-linear
}

.linear-transition.active::before {
    @apply opacity-100 transition-opacity duration-300 ease-linear
}