@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,500;10..48,600;10..48,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-primary font-open-sans text-lg font-medium;
    }

    h1 {
        @apply text-violet-dark font-bricolage-grotesque text-4xl mobileM:text-5xl mobileM:text-[3.5rem] laptopM:text-[4rem] leading-[1.2] -tracking-[2.56px] font-bold;
    }

    h2 {
        @apply text-violet-dark font-bricolage-grotesque text-[2rem] mobileM:text-[2.5rem] leading-[1.12] laptopM:text-5xl -tracking-[1.92px] font-bold;
    }

    h3 {
        @apply text-violet-dark text-xl -tracking-[0.4px] font-bold;
    }

    p {
        @apply text-violet-dark/70 text-lg font-medium
    }

    button {
        @apply whitespace-nowrap select-none
    }

    /* remove "X" icon from search input */
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        display: none;
    }

    /* In Internet Explorer */
    input[type="search"]::-ms-clear {
        display: none;
        height: 0;
        width: 0;
    }

    input[type="search"]::-ms-reveal {
        display: none;
        height: 0;
        width: 0;
    }
}

@layer components {
    .section-small-title {
        @apply text-violet text-sm uppercase font-bold;
    }

    .nav-link,
    .nav-link-active {
        @apply relative overflow-hidden py-3 px-4 laptop:px-6 active:shadow-[#6523d71a_0px_-50px_36px_-28px_inset] rounded-[10px];
    }
}

/* nav-link animation on hover */
.nav-link::after,
.nav-link-active::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 3px solid #583fbc;
    border-radius: 12px;
}

.nav-link::after {
    transform: translateY(-120%);
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.nav-link:hover::after {
    transform: translateX(0);
}

/* violet btn animation on hover */
.violet-btn-anim {
    position: relative;
}

.violet-btn-anim::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 3px solid #583fbc;
    transform: scaleX(0);
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.violet-btn-anim:hover::after {
    transform: scaleX(1);
}

/* for form select element */
.form-select {
    background-image: url("./assets//images//HomePage//violet-down-arrow.svg");
    background-size: 0.7rem;
    background-position: right 0.7rem center;
}

/* for linear-background transition on FaqAccordion component */
.linear-transition {
    @apply relative z-[2];
}

.linear-transition::before {
    @apply content-[""] absolute inset-0 bg-gradient-to-b from-[#dbeffa] z-[1] opacity-0 transition-opacity duration-300 ease-out
}

.linear-transition.active::before {
    @apply opacity-100 transition-opacity duration-300 ease-out
}

/* for gallery images */
.gallery-grid {
    grid-template-areas:
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6";

    @media (min-width: 640px) {
        grid-template-areas:
            "img1 img1"
            "img2 img3"
            "img4 img5"
            "img6 img6";

        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 962px) {
        grid-template-areas:
            "img1 img1 img2 img3"
            "img4 img5 img6 img6";

            grid-template-columns: none;
    }
}

.gallery-photo {
    @apply w-full h-[220px] mobileL:h-[300px] object-cover rounded-[2rem] border
}

.gallery-photo-1 {
    grid-area: img1;
}

.gallery-photo-2 {
    grid-area: img2;
}

.gallery-photo-3 {
    grid-area: img3;
}

.gallery-photo-4 {
    grid-area: img4;
}

.gallery-photo-5 {
    grid-area: img5;
}

.gallery-photo-6 {
    grid-area: img6;
}